# Results
*.cydsn/DP8051/*
*.cylib/CortexM3/ARM_GCC_541/Release/
#user files
*.cywrk.*
*.log
*.o
*.lst
*.log
*.a
*.rpt
*.txt
*.a
*.html
*.htm
#env
.vscode/
BlackBeans.code-workspace
BlackBeans.cydsn/BlackBeans.cyfit
/.metadata/
BlackBeans.cydsn/BlackBeans.gpdsc
BlackBeans.cydsn/UVBuild/BlackBeans_BlackBeans.dep

BlackBeans.cydsn/UVBuild/BlackBeans.lnp

BlackBeans.cydsn/BlackBeans.uvopt
BlackBeans.cydsn/BlackBeans.uvproj
BlackBeans.cydsn/BlackBeans.uvgui.*
BlackBeans.cydsn/BlackBeans.cyprj.*
BlackBeans.cydsn/EventRecorderStub.scvd
BlackBeans.cydsn/BlackBeans.cyprj.*
BlackBeans.cydsn/BlackBeans.cyprj.teru
